<script id="actionRecordTemplate" type="text/template">
		<div class="input_title">
			<span class="title"><%=title%> </span>
			<input class="edit" value="<%- title %>">
		
			<div class="states_collection">
				<!-- <span>
					<button class="btn btn-success btn-xs">
						<i class="fa fa-check-circle-o"></i>
					</button>
				</span>
				<span>
					<button class="btn btn-success btn-xs">
						<i class="fa fa-check-circle-o"></i>
					</button>
				</span> -->
			</div>
			
			<div class="pull-right hidden-phone">
				<button class="btn btn-success btn-xs">
					<i class=" fa fa-check"></i>
				</button>
				<button class="btn btn-primary btn-xs">
					<i class="fa fa-pencil"></i>
				</button>
				<button class="btn btn-danger btn-xs destroy">
					<i class="fa fa-trash-o "></i>
				</button>
			</div>
		</div>
</script>