<script id="goalRecordTemplate" type="text/template">
	<div class="row-fluid">
		<div class="span10">
			
			<header class="panel-heading" id="header">
				<h1>Todos</h1>
				<input id="new-todo" placeholder="What needs to be done?">
				<div>
					<a href="#/">show all</a> | <a href="#/pending">show pending</a> | <a href="#/completed">show completed</a>
				</div>
			</header>
			
			<form id="sort-it">
				<ol id="itemslist" class="task-list">
				
				</ol>
				<input type="submit" id="manual-sort" name="manual-sort" value="Up<a href="http://www.jqueryscript.net/time-clock/">date</a>">
			</form>
		</div>
	</div>
</script>