<div class="row-fluid">
	<div class="span10">
		<form id="sort-it">
			<ol>
				<li>
					This is item #1 <label for="custom-number-1">New order:</label>
					<input id="custom-number-1" name="custom-number-1" type="number" min="1">
				</li>
				<li>
					This is item #2 <label for="custom-number-2">New order:</label>
					<input id="custom-number-2" name="custom-number-2" type="number" min="1">
				</li>
			</ol>
			<input type="submit" id="manual-sort" name="manual-sort" value="Up<a href="http://www.jqueryscript.net/time-clock/">date</a>">
		</form>
	</div>
</div>
