/* prevent zoom in mobile */

.section_list ol {
	/* list style is faked with number inputs */
	list-style: none;
	padding: 0;
}

.states_collection {
	display: inline;
}

.section_list li {
	position: relative;
	min-height: 1em;
	cursor: move;
	padding: .5em .5em .5em 2.5em;
	background: #eee;
	border: 1px solid #ccc;
	margin: .25em 0;
	border-radius: .25em;
	/*max-width: 14em;*/
}

.section_list li label {
	/* visually hidden offscreen so it still benefits screen readers */
	position: absolute;
	left: -9999px;
}

/* sortable plugin styles when dragged */

.dragged {
	position: absolute;
	opacity: 0.5;
	z-index: 2000;
}

.section_list li.placeholder {
	position: relative;
	background: purple;
}


/*#sort-it input.edit {
	display: none; 
}
#sort-it .editing span {
	display: none; 
}
#sort-it .editing input.edit {
	display: inline; 
}*/